.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 60px;
  background-color: #1e1f21;
  transition: all 0.3s;
}

.sidebarIconsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.sidebar.expanded {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 11%;
  text-align: right;
  background-color: #1e1f21;
}

.sidebarLogoChevronContainer {
  display: flex;
  flex-direction: column;
}

.sidebarNavlogo {
  height: 60px;
  width: 60px;
  display: flex;
}

.sidebarChevronRight {
  display: flex;
  justify-content: center;
}

.sidebarChevronLeft {
  display: flex;
  justify-content: flex-end;
}

.sidebar span {
  height: 40px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar li {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 25px 0px 25px 0px;
}

.sidebarLink {
  display: flex;
  text-decoration: none;
  color: #3e4145;
}

.sidebarP {
  margin-right: 6px;
  color: #3e4145;
}

.sidebarLink:hover,
.sidebarLinkActive {
  color: #11df93;
}
