.sidebar, .sidebarExpanded {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 60px;
  background-color: #1e1f21;
  transition: all 0.3s;
  z-index: 10;
}

.sidebarExpanded {
  width: 15%;
}

.sidebarIconsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

@media screen and (max-width: 1000px) {
  .sidebarExpanded {
    width: 20%;
  }
}

@media screen and (max-width: 675px) {
  .sidebarExpanded {
    width: 30%;
  }
}

@media screen and (max-width: 460px) {
  .sidebarExpanded {
    width: 42%;
  }
}

@media screen and (max-width: 300px) {
  .sidebarExpanded {
    width: 55%;
  }
}

.sidebarLogoChevronContainer {
  display: flex;
  flex-direction: column;
}

.sidebarNavlogo {
  height: 60px;
  width: 60px;
  display: flex;
}

.sidebarChevronLeft {
  display: flex;
  justify-content: flex-end;
}

.sidebarChevronRight {
  display: flex;
  justify-content: center;
}

.sidebar span, .sidebarExpanded span {
  height: 40px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar li, .sidebarExpanded li {
  display: flex;
  justify-content: space-evenly;
  margin: 25px 0px 25px 0px;
}

.sidebarLink {
  display: flex;
  text-decoration: none;
  color: #3e4145;
}

.sidebarP {
  margin-right: 6px;
  color: #3e4145;
}

.sidebarLink:hover,
.sidebarLinkActive {
  color: #11df93;
}
