/* ===== START EXPLORE TOKENS BY: WALLET / CONNECTED WALLET SELECTOR ===== */
.fetch_selector_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 475px) {
  .fetch_selector_container{
    flex-direction: column;
    gap: 0rem;
  }
}

.fetch_selector_container h2{
  font-size: 20px;
}

.select_container {
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background-color: #ecf0f9;
  cursor: pointer;
  border-radius: 8px;
}

.select_container select {
  font-size: 18px;
  font-weight: 700;
  background-color: #ecf0f9;
  outline: none;
  border: none;
  color: #008fff;
}
/* ===== END EXPLORE TOKENS BY: WALLET / CONNECTED WALLET SELECTOR ===== */


/* ===== START ADDRESS INPUT AND NETWORK/SEARCH BUTTONS ===== */
.inputs_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-self: center;
  row-gap: 1.5rem;
}

.input_button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.input_button_container input {
  padding: 0.6rem 1rem;
  outline: none;
  border: 1px solid #cfd9f0;
  border-radius: 8px;
  width: 528px;
}

.buttons_under_input{
  display: flex;
}

@media screen and (max-width: 825px) {
  .input_button_container{
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }
  .input_button_container input{
    width: 387px;
  }
}

@media screen and (max-width: 475px) {
  .input_button_container input{
    width: 200px;
  }
}

.select_container_alt {
  text-align: center;
  padding: 0.6rem 1rem;
  margin-right: 1rem;
  display: flex;
  border-radius: 3px;
  background-color: black;
  cursor: pointer;
  border-radius: 8px;
}

.select_container_alt select {
  background-color: black;
  outline: none;
  border: none;
  color: white;
}

.button_blue {
  text-align: center;
  padding: 0.6rem 1rem;
  display: flex;
  border-radius: 3px;
  background-color: #008fff;
  cursor: pointer;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
/* ===== END ADDRESS INPUT AND NETWORK/SEARCH BUTTONS ===== */