.dashboardIntro {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 60px);
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.dashboardIntro h1, .dashboardIntro h2 {
  text-align: center;
}
