.notificationsContainer {
  display: flex;
  width: calc(100vw - 60px);
  height: calc(100vh - 60px);
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-size: 5rem;
  color: #1e1f21;
}

.placeholder p {
  padding: 2rem;
}

@media screen and (max-width: 1200px) {
  .placeholder {
    flex-direction: column;
  }
}

@media screen and (max-width: 705px) {
  .placeholder {
    font-size: 3rem;
  }

  .placeholder p {
    padding: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .placeholder {
    font-size: 2rem;
  }
}

@media screen and (max-width: 350px) {
  .placeholder {
    font-size: 1.5rem;
  }
}