/* .walletContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-size: 5rem;
  color: #1e1f21;
} */


/* ===================================== */
/* ===================================== */
.main {
  padding: 3.5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  background-color: #333639;
}