.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgb(109, 204, 162, 1);
}

.navlogo {
  align-items: center;
}

.navlogo img {
  height: 60px;
  width: 60px;
}

.navlist ul, .navlistShow ul {
  display: flex;
  list-style-type: none;
}

.navlink {
  font-size: 18px;
  font-weight: 650;
  color: black;
  text-decoration: none;
  padding-right: 15px;
}

.navlink:hover {
  color: #ffde59;
  text-decoration: underline;
}

.navlinkActive {
  font-size: 18px;
  font-weight: 650;
  color: #ffde59;
  text-decoration: underline;
  padding-right: 15px;
}

/* ----- START OF MOBILE HAMBURGER MENU (within navbar) ----- */
.hamburgerIcon,
.closeIcon {
  position: absolute;
  top: 1rem;
  right: 25px;
  display: none;
  color: black;
}

.hamburgerIcon:hover,
.closeIcon:hover {
  color: #ffde59;
}

/* --- shows hamburger and hide regular nav (-600px screen) --- */
@media screen and (max-width: 600px) {
  .hamburgerIcon,
  .closeIcon {
    display: flex;
  }

  .navlist {
    display: none;
    width: 100%;
  }

  /* --- makes nav links show as column when hamburger menu is activated --- */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navlistShow {
    display: flex;
    width: 100%;
    background-color: rgb(147, 199, 176, 0.5);
    border-bottom: black solid 2px;
  }

  .navlistShow ul {
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .navlistShow li {
    padding: 10px 0;
    border-top: black solid 2px;
  }

  .navlistShow li:hover, .navlinkShowLiActive {
    background-color: rgb(68, 201, 143);
  }
}
/* --- END OF MOBILE HAMBURGER MENU (within navbar) --- */