.transactionHistory_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ===== START EXPLORE HISTORY BY: WALLET / CONNECTED WALLET SELECTOR ===== */
.fetch_selector_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.select_container {
  text-align: center;
  padding: 0.5rem 1rem;
  display: flex;
  border-radius: 3px;
  background-color: #ecf0f9;
  cursor: pointer;
  border-radius: 8px;
}

.select_container select {
  font-size: 18px;
  font-weight: 700;
  background-color: #ecf0f9;
  outline: none;
  border: none;
  color: #008fff;
}
/* ===== END EXPLORE HISTORY BY: WALLET / CONNECTED WALLET SELECTOR ===== */


/* ===== START ADDRESS INPUT AND NETWORK/SEARCH BUTTONS ===== */
.inputs_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-self: center;
  row-gap: 1.5rem;
}

.input_button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.input_button_container input {
  padding: 0.6rem 1rem;
  outline: none;
  border: 1px solid #cfd9f0;
  border-radius: 8px;
  width: 528px;
}

.buttons_under_input{
  display: flex;
}

@media screen and (max-width: 750px) {
  .input_button_container{
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }
  .input_button_container input{
    width: 70%;
  }
  .buttons_under_input{
    display: flex;
  }
}

.select_container_alt {
  text-align: center;
  padding: 0.6rem 1rem;
  margin-right: 1rem;
  display: flex;
  border-radius: 3px;
  background-color: black;
  cursor: pointer;
  border-radius: 8px;
}

.select_container_alt select {
  background-color: black;
  outline: none;
  border: none;
  color: white;
}

.button_blue {
  text-align: center;
  padding: 0.6rem 1rem;
  display: flex;
  border-radius: 3px;
  background-color: #008fff;
  cursor: pointer;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
/* ===== END ADDRESS INPUT AND NETWORK/SEARCH BUTTONS ===== */


/* DISPLAYS IF API FETCH IS TAKING TOO LONG */
.loading_box {
  width: 100%;
  display: flex;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 4;
  padding-top: 3rem;
}


/* ===== START HISTORY DISPLAY DIV ===== */
.history_panel_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5.5rem;
  color: rgb(12, 12, 12);
}

.history_box{
  background-color: #fff;
  border-radius: 12px;
  padding: 1.5rem 1rem;
  min-width: 378px;
  min-height: 260px;
  border: 1px solid #CFD9F0;
}

.history_box h2{
  font-weight: 700;
  margin-bottom: 1.8rem;
  text-align: center;
}

.history_box span{
  color:  #008fff;
}

/* Below the h2, displays the .map of all history */
.transactions_container{
  display: flex;
  flex-direction: column;
}

.transactions_container th{
  color: #008fff;
}

.transaction{
  align-items: center;
}

.transaction:nth-child(even) {
  background-color: #edecec;
}
/* ===== END HISTORY DISPLAY DIV ===== */